#!/bin/bash

# for direnv
export DOCKER_BUILDKIT=1
export BUILDKIT_PROGRESS="plain"

export TRP_PATH="$( cd "$( dirname "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"
export PATH=${PATH}:"${TRP_PATH}/.bin"
